{% extends '::base.html.twig' %}

{% block body %}
    <div class="well">
        <form action="" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
    </div>
    {% if show_summary %}
        {% include 'EnjoyTaskBundle:Modal:summary.html.twig'
            with {'task': task}
        %}
    {% endif %}
{% endblock %}
